/*#region Action container */

.action_container {
    background: #F9F9F9; /* Old browsers */
    background: -moz-linear-gradient(top, #F9F9F9 0%, #F9F9F9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#F9F9F9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F9F9F9 0%,#F9F9F9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F9F9F9 0%,#F9F9F9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F9F9F9 0%,#F9F9F9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #F9F9F9 0%,#F9F9F9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#F9F9F9',GradientType=0 ); /* IE6-9 */
}

.action_container {
    /* border: 1px solid black; */
    /* text-align: left; */
    /* margin-top: -3px; */
    /* vertical-align: middle; */
    /* border-bottom: 1px gray solid; */
    /* padding-left: 6px; */
    /* line-height: 23px; */
    box-shadow: 0 2px 3px silver;
    /* height: 100px; */
    /*border-top: 1px solid blue;*/
    margin-left: 1px;
    margin-right: 3px;

}

/*#endregion */


/*#region Left menu navigation */

/*.left_menu {
    z-index: 39;
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -247px;
    overflow-y: auto;
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left_menu {
    width: 250px;
    margin-top: 3px;
    background-color: lightgray;
}*/

/*#endregion */
