.usersTable
{
    width: 450px;
    margin: 15px; /*padding: 2px;*/
    border: 2px none #000;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: #fff; /*#BEBEBE*/
    color: #000;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
}

.usersTable tr:hover
{
    background: #aaddf7;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.usersTable th, .userManagementDialog th
{
    background: #9b9b9B;
    color: #fff;
}

.usersTable tr
{
    outline: 2px solid #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.usersTable td
{
    border: 1px solid rgba(0,0,0, 0.1);
}



.userManagementDialog
{
    /*border: 3px solid #808080;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 15px;
    -webkit-box-shadow: 3px 4px 5px rgba(0,0,0, 0.3);
    -moz-box-shadow: 3px 4px 5px rgba(0,0,0, 0.3);
    -o-box-shadow: 3px 4px 5px rgba(0,0,0, 0.3);
    box-shadow: 3px 4px 5px rgba(0,0,0, 0.3);
    width: 150px;
}

/*   .userManagementDialog th {
        background-color: #9b9b9B;
        color: black;
    }*/

.userManagementDialog tr
{
    max-width: 250px;
    outline: 2px solid rgba(0,0,0, 0.1);
}

.container
{
    display: -moz-inline-box;
    display: -webkit-inline-box;
}

.containerButtons
{
    padding: 15px;
}

.container input
{
    border-style: groove;
    border-radius: 5px;
}

#showPassword
{
    cursor: pointer;
}
