


.TableContainer
{  
    width: 100%;
}

.TableContainer td 
{
    border: 1px solid black;
    vertical-align: top;
    width: 50%;
}


.DynamicCardCommonContainer
{
    margin: 0 auto;
}



.InfoContainer
{
    width: 50%;
    text-align: left;
    display: inline-block;
    white-space: nowrap; /*white-space: nowrap; display:inline;  margin-left: 10px;  overflow : hidden; display:-moz-inline-stack; _overflow:hidden;*/
}


.InfoContainer iframe
{
}

.left
{
    /* float: left;*/
}

.right
{
    float: right;
}
