.Headerdiv
{
    /* max-height:1.4em;*/
   /* white-space: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    vertical-align: middle;*/
    /*text-align:right;*/
}

details[open] summary.no-det:before
{
    transform: rotate(90deg);
}

details[open]
{    
    margin-left: -150px;
    z-index: 100;
    position: absolute;
    text-align: left;
    visibility: visible;
}
summary:before {
  display: inline-block;
  width: 10px;
  height: 26px;
  
  content: "+";
  
  /*background-image: url(./images/filters.png);*/
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-icon-sprite.png);*/
  background-repeat: no-repeat;
}
details[open] summary
{
    color: Gray;
    
}

.FilterBoxDiv
{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 300px;
}

.FilterBox, .PredicateControl
{
    /*height: 100px;*/
    border: 1px silver solid;
    position: relative;
}

.FilterBox .filterStyle
{
    width: 100%; /*background-color: White;*/
    border-bottom: 1px solid silver;
}

.FilterBox .filterStyle, .FilterBox div
{
    height: 200px;
    overflow-x: auto;
    overflow-y: auto;
}

.FilterBox .filterStyle div tr td, .FilterBox div table tr td
{
    text-align: left;
    white-space: nowrap;
    border: 0px;
}
.FilterboxTable
{
    display: block;
    max-width: 700px;
}

summary, details
{
    position: relative;
    display: block;
}

summary
{
    color: Orange;
}

summary.Active
{
    color: SkyBlue;
}

details
{
    background-color: White;
    visibility: hidden;
}

details div.ApplyPanel
{
    height: 27px;
}

details > summary
{
    visibility: visible;
}

summary::-webkit-details-marker {
  display: none;
}




summary.no-det:before
{
    content: "►";
    padding-right: 5px;
    font-size: 1.2em;
    transition: .6s linear;
}



details div.ApplyPanel, details[open] summary
{
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}


.pageStyle a
{
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    padding: 0px 4px 0px 4px;
}
.pageStyle a:hover
{
    background-color: rgba(69, 113, 218, 0.3);
}

.activePageStyle
{
    font-size: 1.1em;
    border: 1px solid darkgray;
    background-color: rgba(20,20,20,0.1); /*font-size: 20px;*/
    padding: 0px 4px 0px 4px;
    text-decoration: none;
}

.testStyle
{
}
