.optionButton, .optionButtonActive 
{
    border: 2px solid silver;
    text-align: left;
    font-weight: bold;
    height: 30px;
    margin: 3px;
    padding-left: 10px;
    width: 250px;
    vertical-align: top;
}

.optionButton {
    background-color: transparent;
    transition: all .2s ease-in-out;
    -maz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.optionButton:hover {
    background-color: #dfdfdf;
}

.optionButton:active {
    /*background: #5da130;*/
    background: #FFBA00;
}

.optionButtonActive {
    /*background: #daa520;*/
    background: #FFCC00;
}

.optionButtonActive:hover {
    background: #b8860b; 
}



.optionDiv {
    height: 100%;
    border: 1px solid silver;
    width: 260px; 
    text-align: left;
    float: left;
}