body 
{
    width : 100%;
}

.HeaderCell {
    border-style : solid;
    border-color : Black;
    background-color : Gray;
    height : 50px;
    text-align : center;
}

.PointCell {
    height : 50px;
    text-align : center;
}

.routeTable
{
    width : auto;
    position : static;
}

.cb {
    display : none;
}

.container {
    table-layout:auto;
    width: auto;
}