.header {
    background-color: #424242;
}

    .header a {
        font-weight: bold;
        color: White;
    }

.logo_menu {
    font-size: 19px;
    padding-top: 6px;
}

    .logo_menu a {
        color: lightblue;
    }

#logo:hover {
    color: white;
    text-decoration: blink;
}
