<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<!--comp1-pc\sqlexpress-->
<!--stend\sqlexpress_12  PMonitorNew CapDev Repetitor RepetitorEdRP-->
<!--<connectionStrings>
  <add name="Server"
        connectionString="data source=mob00\sqlexpress_14; Initial Catalog = PMonitorCD; User Id={0}; Password={1}; Asynchronous Processing=true"
        providerName="System.Data.SqlClient"/>
  <add name="StartServer"
      connectionString="data source=mob00\sqlexpress_14; Initial Catalog = PMonitorCD; User Id=sa; Password=345; Asynchronous Processing=true"
      providerName="System.Data.SqlClient"/>
  <add name="RepetitorTestTransition"
      connectionString="data source=mob00\sqlexpress_14; Initial Catalog = PMonitorCD; User Id=sa; Password=345; Asynchronous Processing=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>-->
<configuration>
  <connectionStrings>
    <add name="Server"
          connectionString="Data Source=dell;Initial Catalog=PMonitorCD;Integrated Security=True"
          providerName="System.Data.SqlClient"/>
    <add name="StartServer"
        connectionString="Data Source=dell;Initial Catalog=PMonitorCD; Integrated Security=True"
        providerName="System.Data.SqlClient"/>
    <add name="RepetitorTestTransition"
        connectionString="Data Source=dell;Initial Catalog=PMonitorCD;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add verb="*" path="*.document2" name="DocHandler" type="Teleform.ProjectMonitoring.Dynamics.DocHandler, Monitoring"/>
      <add verb="*" path="*.document" name="DocumentHandler" type="Teleform.ProjectMonitoring.DocumentHandler"/>
      <add verb="*" path="*.preview" name="DocumentPreview" type="Monitoring.PreviewTemplate.DocumentPreview"/>
      <add verb="*" path="~/get.schema" name="DbSchemaHandler" type="Teleform.ProjectMonitoring.DbSchemaHandler"/>
      <add verb="*" path="get.schema.aspx" name="LocalSchemaHandler" type="Teleform.ProjectMonitoring.LocalSchemaHandler"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="environment.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <pages theme="Standard" enableEventValidation="false">
      <controls>
        <add tagPrefix="Template" namespace="Teleform.ProjectMonitoring.Templates" assembly="Monitoring"/>
        <add tagPrefix="Project" namespace="Teleform.ProjectMonitoring" assembly="Monitoring"/>
        <add tagPrefix="Dialog" namespace="Phoenix.Web.UI.Dialogs" assembly="Phoenix.Web"/>
        <add tagPrefix="Phoenix" namespace="Phoenix.Web.UI.Controls" assembly="Phoenix.Web"/>
        <add tagPrefix="SearchSystem" namespace="Phoenix.Web.UI.SearchSystem" assembly="Phoenix.Web"/>
        <add tagPrefix="Development" namespace="Development" assembly="Monitoring"/>
        <add tagPrefix="Report" namespace="Teleform.Reporting.Web" assembly="Teleform.Reporting.Web"/>
        <add tagPrefix="Development" namespace="Teleform.Reporting.DynamicCard.Web" assembly="DynamicCardControl"/>
        <add tagPrefix="Predicate" namespace="Teleform.ProjectMonitoring.admin" assembly="Monitoring" />
      </controls>
    </pages>
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="Connection" type="Teleform.ProjectMonitoring.CodeExpressionBuilder"/>
      </expressionBuilders>
    </compilation>

    <!--defaultRedirect="ErrorPage2.aspx"-->

    <customErrors mode="Off" defaultRedirect="ErrorPage2.aspx" >

      <error statusCode="404"  redirect="ErrorPage2.aspx"  />
    </customErrors>

    <httpRuntime executionTimeout="500000" maxRequestLength="100000"/>
    <sessionState timeout="60" />
    <!--compressionEnabled="true" <- это командя, для включения сжатия сессии-->
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="log" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Teleform\monitoring.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>